
/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.toastify-dark {
  background-color: #333;
  color: #fff;
}
/* Define styles for small devices */
@media (max-width: 639px) {
.category-dropdown {
  display: block;
}
.category-buttons {
  display: none;
}
} 

/* Define styles for larger devices */
@media (min-width: 640px) {
.category-dropdown {
  display: none;
}
.category-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem; /* Adjust the margin as needed */
}
}
